@{
    ViewBag.Title = "ReportIndex";
}

<h2>ReportIndex</h2>
       <ul >
             <li>@Html.ActionLink("View Subject Wise Report", "selectClass", "Result")</li>
             <li>@Html.ActionLink("Print Class Wise Result Cards", "", "Result")</li>
             <li>@Html.ActionLink("Print Single Student Result Cards", "", "Result")</li>
       </ul>