@{
    ViewBag.Title = "ResultIndex";
}

<h2>ADD NEW SUBJECTS TO CLASS</h2>
<div>
                <ul >
                    <li>@Html.ActionLink("Add Subjects To Class", "SubjectClass", "Result")</li>
                    <li>@Html.ActionLink("Add Subject Result", "Result", "Result")</li>
                    <li>@Html.ActionLink("Add Class Result", "ClassResult", "Result")</li>
                </ul>
</div>
