@model School_Management_System.Models.teacher           

@{
    ViewBag.Title = "CashView";
}

<h2>Select Employee's Payment Mode to Search</h2>

@using (Html.BeginForm())
{
    <fieldset>
    <legend>teacher</legend>
            
        <div class="editor-label">
            @Html.Label("Payment Mode")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PaymentMode, new SelectList(@ViewBag.paymentList, "Text"), "-- Select Payment Mode--")
        </div>
        <p>
            <input type="submit" value="Filter" />
        </p>  
    </fieldset>
}

<br />
<br />
<br />
<a href="../ViewTeacherMenu" style="color:red; font-size:20px;">  Back to EMPLOYEE VIEW MENU  </a>