@{
    ViewBag.Title = "Index";
}

<h2>SELECT CATEGORY</h2>
<br />
<br />
<a href="../Teacher/AddTeacher" style="color:black; font-size:30px;"> Add Employee  </a> 
<br />
<br />
<a href="../Teacher/ViewTeacherMenu" style="color:black; font-size:30px;"> View Employees  </a> 
<br />
<br />
<br />
<a href="../Academic/Index" style="color:red; font-size:20px;">  Back to ACADEMIC MENU  </a>