@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


<h2>SELECT CATEGORY</h2>
<br />
<br />

<ul style="color:white; font-size:30px;">
    <li><a href="../Teacher/AddTeacher" > Add Employee  </a> </li>
    <li><a href="../Teacher/ViewTeacherMenu" > View Employees  </a> </li>
</ul>
<br />
<br />
<br />
<a href="../Academic/Index" >  Back to ACADEMIC MENU  </a>