@{
    ViewBag.Title = "ViewTeacherMenu";
}


<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


<h2>ViewEmployeeMenu</h2>

<br />
<br />

<ul style="color:white; font-size:30px;">

<li><a href="../Teacher/ActiveView/1" > View Active Employees  </a> </li>

<li><a href="../Teacher/InActiveView/1" > View In-Active Employees </a> </li>
<li><a href="../Teacher/DesignationView/1" > View By Designation  </a> </li>
<li><a href="../Teacher/GenderView/1" > View By Gender  </a> </li>
<li><a href="../Teacher/CashView/1" > View By Payment Mode  </a> </li>
<li><a href="../Teacher/MaritalView/1" >  View By Marital Status  </a> </li>
</ul>
<br />
<br />
<br />
<a href="../Academic/Index" style="color:red; font-size:20px;">  Back to MANAGE EMPLOYEES  </a>