@{
    ViewBag.Title = "ViewTeacherMenu";
}

<h2>ViewEmployeeMenu</h2>

<br />
<br />
<a href="../Teacher/ActiveView/1" style="color:black; font-size:30px;"> View Active Employees  </a> 
<br />
<br />
<a href="../Teacher/InActiveView/1" style="color:black; font-size:30px;"> View In-Active Employees </a> 
<br />
<br />
<a href="../Teacher/DesignationView/1" style="color:black; font-size:30px;"> View By Designation  </a> 
<br />
<br />
<a href="../Teacher/GenderView/1" style="color:black; font-size:30px;"> View By Gender  </a> 
<br />
<br />
<a href="../Teacher/CashView/1" style="color:black; font-size:30px;"> View By Payment Mode  </a> 
<br />
<br />
<a href="../Teacher/MaritalView/1" style="color:black; font-size:30px;">  View By Marital Status  </a> 
<br />
<br />
<br />
<a href="../Academic/Index" style="color:red; font-size:20px;">  Back to MANAGE EMPLOYEES  </a>