@{
    ViewBag.Title = "FeeDefaulter";
}

<h2>Fee Defaulter Menu</h2>

@Html.ActionLink("All Students", "DefaulterStudents")
<br />
@Html.ActionLink("Particular Class Students", "DefaulterClassStudents")
<br />
<br />
@Html.ActionLink("Back to reports", "Reports")