@model School_Management_System.Models.fee


<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }



@{
    ViewBag.Title = "PaidStudents";
}

<h2>Paid Students</h2>
@using (Html.BeginForm("PaidStudentsList", "Fees"))
{
    @Html.ValidationSummary(true)
            <font color="black">Select Month</font>
            <br />    
            @Html.DropDownListFor(model => model.Month, new List<SelectListItem> { 
           new SelectListItem{ Selected = DateTime.Today.Month == 1, Text = "January", Value = "January"},
           new SelectListItem{ Selected = DateTime.Today.Month == 2, Text = "Februray", Value = "Februray"},
           new SelectListItem{ Selected = DateTime.Today.Month == 3, Text = "March", Value = "March"},
           new SelectListItem{ Selected = DateTime.Today.Month == 4, Text = "April", Value = "April"},
           new SelectListItem{ Selected = DateTime.Today.Month == 5, Text = "May", Value = "May"},
           new SelectListItem{ Selected = DateTime.Today.Month == 6, Text = "June", Value = "June"},
           new SelectListItem{ Selected = DateTime.Today.Month == 7, Text = "July", Value = "July"},
           new SelectListItem{ Selected = DateTime.Today.Month == 8, Text = "August", Value = "August"},
           new SelectListItem{ Selected = DateTime.Today.Month == 9, Text = "September", Value = "September"},
           new SelectListItem{ Selected = DateTime.Today.Month == 10, Text = "October", Value = "October"},
           new SelectListItem{ Selected = DateTime.Today.Month == 11, Text = "November", Value = "November"},
           new SelectListItem{ Selected = DateTime.Today.Month == 12, Text = "December", Value = "December"},
           })
           <br /><br />
           <font color="black">Select Year</font>
           <br />
            @Html.DropDownListFor(model => model.Year, new List<SelectListItem> {
           new SelectListItem{ Selected = DateTime.Today.Year == 2012, Text = "2012", Value = "2012"}, 
           new SelectListItem{ Selected = DateTime.Today.Year == 2013, Text = "2013", Value = "2013"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2014, Text = "2014", Value = "2014"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2015, Text = "2015", Value = "2015"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2016, Text = "2016", Value = "2016"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2017, Text = "2017", Value = "2017"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2018, Text = "2018", Value = "2018"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2019, Text = "2019", Value = "2019"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2020, Text = "2020", Value = "2020"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2021, Text = "2021", Value = "2021"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2022, Text = "2022", Value = "2022"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2023, Text = "2023", Value = "2023"},
           })
           
    <br /><br />
    <p>
        
        <input type="submit" value="View List" />
    </p>
}

<br />
<br />
@Html.ActionLink("Back to Paid Menu", "FeePaid")
