@model  School_Management_System.Models.MonthYearClassName
@using School_Management_System.Models

<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


@{
    ViewBag.Title = "YearWiseFeeReport";
}

<h2>Year Wise Fee Report</h2>
<br />
@using (Html.BeginForm("YearWiseFeeReportList", "Fees"))
{
    @Html.ValidationSummary(true)
            <font color="black"> Select Class
            </font>
            <br />
       
           schooldbEntities db = new schooldbEntities();
           var list = (from tmp in db.classes select tmp).ToList();
           List<SelectListItem> classlist = new List<SelectListItem>();
           foreach (@class tmp in list)
           {
               classlist.Add(new SelectListItem { Selected = false, Text = tmp.className, Value = tmp.className });
           }
            
            @Html.DropDownListFor(model => model.name, classlist)

    
    
           <br /><br />
           <font color="black">Select Year</font>
           <br />
            @Html.DropDownListFor(model => model.year, new List<SelectListItem> {
           new SelectListItem{ Selected = DateTime.Today.Year == 2012, Text = "2012", Value = "2012"}, 
           new SelectListItem{ Selected = DateTime.Today.Year == 2013, Text = "2013", Value = "2013"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2014, Text = "2014", Value = "2014"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2015, Text = "2015", Value = "2015"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2016, Text = "2016", Value = "2016"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2017, Text = "2017", Value = "2017"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2018, Text = "2018", Value = "2018"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2019, Text = "2019", Value = "2019"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2020, Text = "2020", Value = "2020"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2021, Text = "2021", Value = "2021"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2022, Text = "2022", Value = "2022"},
           new SelectListItem{ Selected = DateTime.Today.Year == 2023, Text = "2023", Value = "2023"},
           })
           
    <br /><br />
    <p>
        
        <input type="submit" value="View List" />
    </p>
}

<br />
<br />
@Html.ActionLink("Back to Reports Menu", "Reports")


