@model School_Management_System.Models.family
@using School_Management_System.Models

@{
    ViewBag.Title = "Family";
}

<h2>Family</h2>

@{
    List<SelectListItem> familyList = new List<SelectListItem>();
    schooldbEntities db = new schooldbEntities();
    List<family> list = (from tmp in db.families select tmp).ToList();
    foreach (family tmp in list)
    {
        familyList.Add(new SelectListItem { Selected = false, Text = tmp.familyId.ToString(), Value = tmp.familyId.ToString() });  
    }    
}

@using (Html.BeginForm("Index", "Fees"))
{
        <font color="black"> Select Family ID
        </font>
        <br /><br />
    @Html.DropDownListFor(model => model.familyId, familyList)
    <br /><br />
    <p>
        
        <input type="submit" value="View Student List" />
    </p>
    
}


<br />
<br />
@Html.ActionLink("Back to Home", "Index")
&nbsp
@Html.ActionLink("Reports", "../Fees/reports")


