<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rainbow Grammar | The School System</title>

<link REL="SHORTCUT ICON" HREF="http://starblazestudios.com/favicon.ico">

<link href="../../css/style.css" type="text/css" rel="stylesheet" media="all" />

<script type="text/javascript" src="../../scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="../../scripts/jquery.backgroundPosition.js"></script>
<script type="text/javascript" src="../../scripts/script.js"></script>
<script type="text/javascript" src="../../scripts/cufon-yui.js"></script>
<script type="text/javascript"  src="../../scripts/SansationRegular_400.font.js"></script>
<script type="text/javascript"  src="../../scripts/SansationLight_300.font.js"></script>

<script type="text/javascript">  
    Cufon.replace('h1, h2 ,#portfolio-filter a', {  hover: true  , fontFamily: 'SansationLight'});	
	Cufon.replace('#topNav a,h3, h4', {  hover: true , fontFamily: 'SansationRegular' });
</script>
</head>

<body>
	<div id="wrap">
		<div id="container">
			
			
			<!-- ## HEADER ## -->
			
			<div id="header" height="10">
			<h1>Rainbow Grammar School </h1>
            <h3 style="text-align:right;">@Html.ActionLink("LOG IN","signin","Home")</h3>
				
				<ul id="topNav">
					<li>
					<a href="../Home/Index">HOME</a>
					<div class="activeH">
						<div class="midground"></div>
						<div class="foreground"></div>
						<div class="base"></div>
					</div>
					</li>
					<li><a href="../Home/admission">ADMISSION</a></li>
					<li><a href="../Home/about">ABOUT</a></li>
					<li><a href="../Home/contact">CONTACT</a></li>
				</ul>
			</div><!-- end: header -->
			
			<!-- ## SLIDESHOW ## -->
			
			<div id="slideShow">
				
				<div id="slideshowImages">
					<img class="id" src="../../images/school 003.jpg" alt="" width="920px" height="430px" />
									
				</div><!-- end: slideShow Images -->
				
				<div id="slideshowNav">
					<ul id="slideShowCats">
						<h2 style="color:white;">OUR AIM</h2>
					</ul>
					
					<span class="hoverShineNav"></span>
				</div><!-- end: slideShowNav -->
				
			</div><!-- end: slideShow -->
			
			
			<!-- ## INFORMATION ## -->
			
			<div id="info">
				<p>Education in its general sense is a form of learning in which knowledge, skills, and habits of a group of people are transferred
				from one generation to the next through teaching, training, research, or simply through autodidacticism. Systems of schooling involve institutionalized teaching and learning in relation to a curriculum, which itself is established according to a predetermined purpose of the schools in the system. Schools systems are sometimes also based on religions,
				giving them different curricula.
				</p>
			</div><!-- end: INFORMATION -->
			
			
			
			<!-- ## LINKS ## -->
			
			<div id="bottomLinks">
				<a class="blaze" href="https://www.facebook.com/chronosolutions"><span class="hover"></span>Chrono Solutions Product</a>
				<a class="hire" href="https://www.facebook.com/chronosolutions"><span class="hover"></span>Software Solutions</a>
			</div><!-- end: Bottom Links -->
			
		</div><!--end: container -->
		
		<!-- ## FOOTER ## -->
		
		<div id="footer">
			<div id="footerContainer">
				<p>
					Open to working with anyone on creatively challenging
					projects anywhere in the world.<br />
					
					
					
					Software Solutions<br/><br/><br/>
					Copyright &copy; 2013 - All Rights Reserved - <a href="https://www.facebook.com/chronosolutions" title="Chrono Solutions">Chrono Solutions</a>
				</p>
			</div><!-- end: Footer Container -->
		</div><!-- end: footer -->
			
	</div><!--end: wrap -->

</body>

</html>
