@{
    ViewBag.Title = "Home Page";
}

<h2>ADMINISTRATION</h2>

<div>
<center>
<table>
<tr>
    <td>
    <a href="../Student/index"><img alt="Admission" src="../../Images/admission.jpg" width="200" height="250" style="padding-right:70px; padding-left:70px;"/></a>
    <a href="../Attendance/index"><img alt="Attendance" src="../../Images/attendance.jpg" width="200" height="250" style="padding-right:70px; padding-left:70px;" /></a>
    <a href="../Academic/index"><img alt="Academic" src="../../Images/academic.gif" width="200" height="250" style="padding-right:70px; padding-left:70px;"/></a>
    </td>   
</tr>
<tr style="padding-top:10px; padding-bottom:10px;"></tr>
<tr>
    <td>
    <a href="../Result/Index"><img alt="Results" src="../../Images/result.jpg" width="200" height="250" style="padding-right:70px; padding-left:70px;"/></a>
    <a href="../Home/Family"><img alt="Fees" src="../../Images/fee.jpg" width="200" height="250" style="padding-right:70px; padding-left:70px;" />  </a>
    <img alt="Salaries" src="../../Images/salary.png" width="200" height="250" style="padding-right:70px; padding-left:70px;"/>
    </td>   
</tr>
</table>
</center>
</div>
