@{
    ViewBag.Title = "Admission";
}
<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }

<h2>ADMISSION</h2>

<br />
<br />
<ul>
<li><a href="../Student/NewFamily" style="color:white; font-size:30px;">  New FAMILY  </a> </li>
<li><a href="../Student/ExistFamily" style="color:white; font-size:30px;">  Existing FAMILY  </a> </li>
<br />
<br />
<br />
<br />
<a href="../Home/Index" style="color:red; font-size:20px;">  Back to HOME  </a>
