@{
    ViewBag.Title = "Admission";
}

<h2>ADMISSION</h2>

<br />
<br />
<a href="../Student/NewFamily" style="color:black; font-size:30px;">  New FAMILY  </a> 
<br />
<br />
<a href="../Student/ExistFamily" style="color:black; font-size:30px;">  Existing FAMILY  </a> 
<br />
<br />
<br />
<br />
<a href="../Home/Index" style="color:red; font-size:20px;">  Back to HOME  </a>
