@{
    ViewBag.Title = "StudentViewMenu";
}

<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


<script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>
<h2>SELECT CATEGORY</h2>
<br /><br />

<ul style="color:white; font-size:30px;">

<li><a href="../Student/ViewClass/1" > Class  </a> </li>
<li><a href="../Student/ViewSection/1" > Section  </a> </li>
<li><a href="../Student/ViewGender/1" > Gender  </a> </li>
<li><a href="../Student/ViewMedium/1" > Medium  </a> </li>
<li><a href="../Student/ViewAll/1" > ALL Students</a> </li>

</ul>
<div id="result">

</div>
<br />
<br />
<br />
<a href="../Academic/Index" style="color:red; font-size:20px;">  Back to ACADEMIC MENU  </a>